@tailwind base;
@tailwind components;
@tailwind utilities;

@layer main {
    /*Text Colors*/
    .bw-text-light{
        @apply bg-Clightmain text-Cdarkmain
    }
    .bw-text-dark{
        @apply text-Clightmain bg-Cdarkmain
    }
    .bw-text{
        @apply bg-Clightmain text-Cdarkmain dark:text-Clightmain dark:bg-Cdarkmain
    }
    .bw-extreme-text{
        @apply bg-Cwhite text-Cblack dark:text-Cwhite dark:bg-Cblack
    }

}

@layer navbar{

    .selected{
        @apply bg-Cwhite rounded-full
    }
    .nav-links>*{
        @apply px-5 py-1
    }
}
@layer hero{
    .typewriter h1 {
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid orange; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em; /* Adjust as needed */
        animation: 
          typing 3.5s steps(40, end),
          blink-caret .75s step-end infinite;
      }
      
      /* The typing effect */
      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }
      
      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: orange; }
      }
}
@layer projects {
    .project-title{
        @apply font-playfairDisplay py-10
    }
}
